
@font-face {
  font-family: "Bebas Neue";
  src: url("./BebasNeue-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#invisible-video {
  width: 1px;
  height: 1px;
  top: -9999px; 
  left: -9999px;
}

body {
  font-family: "Bebas Neue";
  color: #ffffff;
  background-color: #2c3e50;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1 {
  font-family: "Bebas Neue";
}

#screen-content {
  text-align: center;
  padding: 20px;
  font-family: "Bebas Neue";
  color: rgb(211, 140, 48);
  font-size: 3rem;
  padding: 10px;
}
@media (max-width: 600px) {
  #screen-content {
    color: rgb(211, 140, 48);
    grid-column: 2/3;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Bebas Neue";
    font-weight: 400;
    font-style: normal;
    font-size:3rem
  }
  }



.bgGIF {
  width: 90vw; 
  max-width:100%;
  height: auto; 
  border-radius: 50px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
@media (max-width: 600px) {
  .bgGIF {
    width: 90vw;
    margin-bottom: 10px;
  }
}

#text-content {
  background-color: #3498db;
  color: #ecf0f1;
  padding: 15px;
  border-radius: 5px;
  font-size: 3.2rem;
  line-height: 1.5;
}
@media (max-width: 600px) {
  #text-content {
    font-family: "Bebas Neue";
    color: rgb(211, 140, 48);
    font-size: 3rem;
    padding: 10px;
  }
}

.logoContainer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}


.logoContainer .logo {
  background: none;
  border: none;
  cursor: pointer;
  flex: 0 1 150px; 
  max-width: 150px; 
  margin: 5px;
}

.logoContainer .logo img {
  width: 100%; 
  height: auto; 
  transition: transform 0.2s ease;
}


.logoContainer .logo img:hover {
  transform: scale(1.1); 
}


@media (max-width: 800px) {
  .logoContainer .logo {
    flex: 0 1 120px;
  }
}

@media (max-width: 600px) {
  .logoContainer .logo {
    flex: 0 1 100px;
  }

  .logoContainer {
    gap: 10px; 
  }
}
#button-container {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
#button-container button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 30px 20px;
  border-radius: 50px;
  font-size: 5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#button-container button:hover {
  background-color: #217dbb;
}
@media (max-width: 600px) {
  #button-container button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}


p {
  color: rgb(211, 140, 48);
  grid-column: 2/3;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

#outro-message {
  color: rgb(211, 140, 48);
  grid-column: 2/3;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  display: flex;
  flex-direction: column;  
  align-items: center; 
  text-align: center;
  margin: 20px 0;
}
@media (max-width: 600px) {
  #outro-message {
    font-size: 3.2rem;
    padding: 15px;
  }


#outro-message .message2 {
  color: rgb(211, 140, 48);
  font-family: "Bebas Neue";
  margin-bottom: 20px; 
  background-color: #f4f4f4; 
  border-radius: 10px;
}
}

#reset-btn {
  font-family: "Bebas Neue";
  display: block;
  padding: 10px 20px;
  margin: 50px 30px;
  background-color: #007bff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#oui-btn, #non-btn{
  font-family: "Bebas Neue";
  width: 200px
}


#reset-btn:hover {
  background-color: #0056b3;
}
 

